APP_HOST=api.hostname.com
APP_PORT=8300
APP_CERT=/etc/letsencrypt/live/api.hostname.com/fullchain.pem
APP_KEY=/etc/letsencrypt/live/api.hostname.com/privkey.pem

MYSQL_USER=sql_user
MYSQL_DATABASE=database
MYSQL_PASSWORD=secretpassword

REDIS_HOST=redis.hostname.com
REDIS_PORT=6379
REDIS_USER=redis_user
REDIS_PASSWORD=secretpassword

MAILER_HOST=smtp.hostname.com
MAILER_PORT=587
MAILER_FROM=no-reply@hostname.com
MAILER_BCC=archiv@hostname.com
MAILER_USER=smtp_user
MAILER_PASSWORD=secretpassword
